<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Akole BLOG">
    <meta name="og:site_name" content="Akole Blog"/>
    <meta property="og:url" content="https:/blog.akole.io/"/>
    <meta property="og:image" content="./images/akole-logo.svg">
    <meta name="og:description"
          content="The most time-friendly way to schedule appointments at your fingertips. Manage your customers and appointments in the akole app or see the agenda or book kan appointment with your favourite beauty provider."/>
    <link rel="icon" href="/images/favicon.svg">
    {{ $style := resources.Get "scss/global.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ $prism := resources.Get "css/prism.css" }}
    <link rel="stylesheet" href="{{ $prism.RelPermalink }}" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    {{ partial "seo/print.html" . }}
    {{ with .Params.forestry_instant_preview_id }}
      {{- safeHTML (printf "<meta property='forestry_instant_preview_id' content='%s'>" .) -}}
    {{ end -}}
</head>
